{% extends 'base.html' %}
{% load static %}
{% block content %} 
<!-- Abouts Start -->
            <div class="about-section">
                <!-- My Story 1-->
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-6 col-md-8">
                            <img src="{% static 'images/about1.jpg' %}" alt="profile">
                        </div>
                        <div class="col-lg-6">
                            <h1 class="about-title">About</h1>
                            <p class="about-desc">I am passionate about my work. Because I love what I do, I have a 
                                steady source of motivation that drives me to do my best. In my last job, this 
                                passion led me to challenge myself daily and learn new skills that helped me to do 
                                better work.</p>
                            <p class="about-desc">thrive on challenge and constantly set goals for myself, so I have 
                                something to strive towards. I am not comfortable with settling, and I am always 
                                looking for an opportunity to do better and achieve greatness.</p>
                        </div>
                    </div>
                </div>
                <!-- My Story 2-->
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <h1 class="about-title">Work Experience</h1>
                            <p class="about-desc">
                                <strong>TCS, Bhubaneswar  — Data Migration Engineer <br />Aug 2019 - Dec 2021</strong>
                            </p>
                            <p class="about-desc">
                                    Review gaps and propose a solution for data migration during the solution design phase. <br />
                                    Get approval for the data migration strategy for implementation.<br />
                                    Ensure the accurate filling of intermediate data tables during data load.<br />
                            </p>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 col-md-8">
                            <img src="{% static 'images/about2.jpg' %}" alt="profile">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Abouts End -->
        </div>
        <!-- Main End -->
{% endblock content %} 