{% extends 'base.html' %}
{% load static %}
{% block content %} 
<!-- Abouts Start -->
            <div class="about-section">
                <!-- My Story 1-->
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-6 col-md-8">
                            <img src="{% static 'images/about1.jpg' %}" alt="profile">
                        </div>
                        <div class="col-lg-6">
                            <h1 class="about-title">Work Experience</h1>
                            <p class="about-desc">
                                <strong>TCS, Bhubaneswar  — Data Migration Engineer <br />Aug 2019 - Dec 2021</strong>
                            </p>
                            <p class="about-desc">
                                    Review gaps and propose a solution for data migration during the solution design phase. <br />
                                    Get approval for the data migration strategy for implementation.<br />
                                    Ensure the accurate filling of intermediate data tables during data load.<br />
                            </p>
                        </div>
                    </div>
                </div>
                <!-- My Story 2-->
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <h1 class="about-title">Skills Acquired</h1>
                            <p class="about-desc">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            <p class="about-desc">
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
                                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <p class="about-desc">
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
                                content here', making it look like readable English.
                            </p>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 col-md-8">
                            <img src="{% static 'images/about2.jpg' %}" alt="profile">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Abouts End -->
        </div>
        <!-- Main End -->
{% endblock content %} 